@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';




/*custumizacao da scrollbar*/
* {
    scrollbar-width: 8px;
    scrollbar-color: #3B82F6 #041731;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 8px;
    height: 8px;

}

*::-webkit-scrollbar-track {

    background-color: #041731;

}

*::-webkit-scrollbar-thumb {
    background-color: #3B82F6;
    border-radius: 5px;
    border: 3px solid #3B82F6;
}
